/* At the top level of your code */
@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  * {
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    height: 0;
  }
}
